button{ 
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  width: 100px;
  margin: 10px;
  

}

.clear{
  background-color: #fff;
  color: green;
  border: 2px solid green;
}
.clear:hover{
  background-color: #c9ffd0;
}

button:hover{
  background-color: #1db954;
}

.black-button{
  background-color : black;
}
.black-button:hover{
  background-color: #919191;
}

.rainbow-button:hover{
   background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 5s linear infinite;
  color:black;
}
.screen{
  width: 600px;
  height: 600px;
  display: grid;
  position: relative;
  box-shadow:rgb(0 0 0 / 38%) 0px 3px 19px;
  margin: 20px auto;
  /* z-index: 100; */

}

.header{
  background-color: #fff;
  /* background-color: #15883e; */
  padding: 20px;
  width:31%;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 50px;
  
  
}

h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #383838;
  letter-spacing: 10px;
  font-size: 60px;
  margin: 0;
  
}
.button-list{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1250px;
  margin: 0 auto;
}


.slider-value{
  text-align:center;
  justify-content: center;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
 
 
}
.emptyspace{
  margin:100px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin:20px auto 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}


.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.pixel{
  user-select: none;
}

.showscreen{
  border : 0.1px solid #c9c9c9;
}

.grid-checkbox{
   text-align:center;
  justify-content: center;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
 
}