.create-button{ 
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.screen{
  width : 800px;
  height : 800px;
  margin : 100px auto;
  border-style: solid;

}

.pixel{
  user-select:none;
  height: 50px;
  width: 50px;
  background-color: #555;
  display: inline-block;
  vertical-align: top;
}
  

.clear{
  
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.top-row{
  margin: auto;
  width: 40%;
}